<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blogpress.count.dao.CountMapper">

    <sql id="All_Columns">
        count_id, content_type, content_id, like_count, collect_count, comment_count, is_logic_deleted, version
    </sql>

    <select id="selectByContentTypeAndId" resultType="com.blogpress.count.bean.entity.Count">
        select <include refid="All_Columns"/>
        from count
        <where>
            content_type = #{contentType.code}
            and content_id = #{contentId}
            and is_logic_deleted = false
        </where>
    </select>

    <select id="selectByContentTypeAndIds" resultType="com.blogpress.count.bean.entity.Count">
        select <include refid="All_Columns"/>
        from count
        <where>
            content_type = #{contentType.code}
            and content_id in
            <foreach collection="contentIds" open="(" close=")" separator="," item="contentId">
                #{contentId}
            </foreach>
            and is_logic_deleted = false
        </where>
    </select>
    
</mapper>