<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blogpress.user.dao.UserMapper">

    <sql id="All_Columns">
        user_id, nick, password_hash, salt, gender, birthday, phone, email, country, province, city,
        street, create_time, update_time, user_status, is_logic_deleted, version
    </sql>

    <select id="getUserByNick" resultType="com.blogpress.user.bean.entity.User">
        select <include refid="All_Columns"/>
        from "user"
        <where>
            nick = #{nick}
            and is_logic_deleted = false
        </where>
    </select>

</mapper>